.git
.github
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
public/build
public/hot
bootstrap/ssr
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
docs
tests
.phpunit.cache
.phpunit.result.cache
